/* Modal Container */
.modal-container-monthly {
  position: relative;
  background: #f4f5f9;
  width: 800px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Table Container */
.table-container {
  max-height: 100%;
  overflow-y: auto;
  border-radius: 8px;
  background: white;
  padding: 10px;
  border: 1px solid #c8c8c8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Data Table */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* Table Header */
.data-table thead tr {
  background: #316df8;
  color: white;
  font-weight: bold;
}

.data-table thead th {
  padding: 12px;
  text-align: center;
  border: 1px solid #dcdcdc;
}

/* Table Body */
.data-table tbody tr {
  background: white;
  transition: background 0.2s;
}

.data-table tbody tr:nth-child(even) {
  background: #f7f8fc;
}

.data-table tbody td {
  padding: 10px;
  text-align: center;
  border: 1px solid #dcdcdc;
  color: #333;
}

/* Row Hover Effect */
.data-table tbody tr:hover {
  background: #e3eafc;
  transition: 0.3s ease-in-out;
}

/* Total Row Styling */
.total-row {
  background: #316df8;
  color: white;
  font-weight: bold;
}

.total-row td {
  padding: 12px;
  text-align: center;
  border: 1px solid #dcdcdc;
}
/* Print Button Wrapper */
.print-button-container {
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
}
/* Print Button */
.print-button {
  background: #316df8;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  gap: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
}

.print-button:hover {
  background: #2555b7;
}
