.GraphicalDisplay {
  color: #2a5ed4;
  margin-left: 370px;
  max-width: 1450px;
  width: calc(100% - 0px);
}

.graph-container {
  width: 100%;
  padding: 20px;
  background: #f4f6fb;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Upload Button */
.upload-button-container {
  margin-bottom: 20px;
}

/* Graph Section */
.graph-section {
  width: calc(100% - 40px);
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 420px;
}

.graph-section h2 {
  color: #316efa;
  font-size: 24px;
  margin-bottom: 10px;
}

.graph-section p {
  color: #666;
  font-size: 16px;
}

.bar-graph-container {
  width: 100%;
  height: 400px;
  background: #013aa6;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.graph-message {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

.title-text-expenses {
  border-radius: 12px;
  background: #faa344;
  display: inline-block; /* Ensure it only takes up the width of the content */
  padding: 20px 20px 8px 20px; /* Add horizontal padding to match the h2 padding */
}

.title-text-expenses h2 {
  font-size: 18px;
  color: #fff;
  white-space: nowrap; /* Prevent text from wrapping */
  font-weight: 500;
}

.title-text-revenue {
  border-radius: 12px;
  background: #51c1cd;
  display: inline-block; /* Ensure it only takes up the width of the content */
  padding: 20px 20px 8px 20px; /* Add horizontal padding to match the h2 padding */
}

.title-text-revenue h2 {
  font-size: 18px;
  color: #fff;
  white-space: nowrap; /* Prevent text from wrapping */
  font-weight: 500;
}

.graphs-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
