.GraphicalDisplay {
  color: #2a5ed4;
  margin-left: 370px;
  max-width: 1450px;
  width: calc(100% - 0px);
}

.graph-container {
  width: 100%;
  padding: 20px;
  background: #f4f6fb;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Upload Button */
.upload-button-container {
  margin-bottom: 20px;
}

/* Graph Section */
.graph-section {
  width: calc(100% - 40px);
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 420px;
}

.graph-section h2 {
  color: #316efa;
  font-size: 24px;
  margin-bottom: 10px;
}

.graph-section p {
  color: #666;
  font-size: 16px;
}

.bar-graph-container {
  width: 100%;
  height: 400px;
  background: #013aa6;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.graph-message {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

/* Title Container */
.title-text-expenses {
  border-radius: 8px;
  background: #faa344;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align text left, button right */
  padding: 10px 20px;
  position: relative;
  margin-bottom: 20px;
}

/* Title Text */
.title-text-expenses h2 {
  font-size: 24px;
  color: #fff;
  white-space: nowrap;
  font-weight: 500;
  margin: 0;
}

/* Reset Zoom Button */
.reset-zoom-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;

  height: 28px;
}

.reset-zoom-btn:hover {
  transform: translateY(-50%) scale(1.1);
}

/* Title Container */
.title-text-revenue {
  border-radius: 8px;
  background: #51c1cd;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align text left, button right */
  padding: 10px 20px;
  position: relative;
  margin-bottom: 20px;
}

/* Title Text */
.title-text-revenue h2 {
  font-size: 24px;
  color: #fff;
  white-space: nowrap;
  font-weight: 500;
  margin: 0;
}

.graphs-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Title Container */
.title-text-center-revenue {
  border-radius: 12px;
  background: #51c1cd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

/* Title Text */
.title-text-center-revenue h2 {
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  font-weight: 500;
}

/* Reset Zoom Button */
.reset-zoom-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.reset-zoom-btn svg {
  width: 28px;
  height: 28px;
  stroke: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.reset-zoom-btn:hover svg {
  transform: scale(1.1);
}

/* Reset Zoom Button */
.reset-zoom-btn-center {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  right: 50px;
}

.reset-zoom-btn-center svg {
  width: 28px;
  height: 28px;
  stroke: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.reset-zoom-btn-center:hover svg {
  transform: scale(1.1);
}

.center-graph-section {
  width: calc(100% - 40px);
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 720px;
}

.graph-type-dropdown {
  position: relative;
  display: inline-block;
}

.graph-type-btn {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.graph-type-btn svg {
  width: 28px;
  height: 28px;
  stroke: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.graph-type-btn:hover svg {
  transform: scale(1.1);
}

.dropdown-panel-revenue {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.dropdown-option-revenue {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  text-align: left;
  transition: background 0.2s ease-in-out;
}

.graph-back-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.graph-back-btn svg {
  width: 28px;
  height: 28px;
  stroke: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.graph-back-btn:hover svg {
  transform: scale(1.1);
}

.graph-buttons-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Title & Back Button Container */
.title-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Back Button */
.graph-back-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.graph-back-btn:hover {
  transform: scale(1.1);
}

/* Title */
.title-container h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  white-space: nowrap; /* Prevents line breaks */
}

/* Title Container */
.title-text-expenses {
  border-radius: 8px;
  background: #fca44a;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align text left, button right */
  padding: 10px 20px;
  position: relative;
  margin-bottom: 20px;
}

/* Title Text */
.title-text-expenses h2 {
  font-size: 24px;
  color: #fff;
  white-space: nowrap;
  font-weight: 500;
  margin: 0;
}

/* Title Container */
.title-text-center-expenses {
  border-radius: 12px;
  background: #fca44a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

/* Title Text */
.title-text-center-expenses h2 {
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  font-weight: 500;
}

.graph-type-dropdown-expenses {
  position: relative;
  display: inline-block;
}

.dropdown-panel-expenses {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.dropdown-option-expenses {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  text-align: left;
  transition: background 0.2s ease-in-out;
}
.dropdown-option-expenses:hover,
.dropdown-panel-expenses .selected {
  background: #fca44a;
  color: white;
}

.dropdown-option-revenue:hover,
.dropdown-panel-revenue .selected {
  background: #51c1cd;
  color: white;
}

/* Center the SVG icons vertically and horizontally */
.graph-back-btn,
.graph-type-btn,
.reset-zoom-btn,
.reset-zoom-btn-center {
  display: flex;
  align-items: center; /* Vertically center the icon */
  justify-content: center; /* Horizontally center the icon */
  padding: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.graph-back-btn svg,
.graph-type-btn svg,
.reset-zoom-btn svg,
.reset-zoom-btn-center svg {
  width: 28px;
  height: 28px;
  stroke: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.graph-back-btn:hover svg,
.graph-type-btn:hover svg,
.reset-zoom-btn:hover svg,
.reset-zoom-btn-center:hover svg {
  transform: scale(1.1);
}

/* Center the graph buttons container */
.graph-buttons-container {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: flex-end; /* Align items horizontally to the right */
}

/* Centering title and back button container */
.title-container {
  display: flex;
  align-items: center; /* Vertically center the title and back button */
  justify-content: flex-start; /* Align to the left */
}
