.budget-table-page h1 {
  position: absolute top 10px;
  color: #2a5ed4;
  font-weight: 200;
  font-size: 60px;
  margin-top: 20px;
  margin-left: 370px;
}
@media screen and (max-width: 1024px) {
  .budget-table-page h1 {
    margin-left: 120px;
  }
}

@media screen and (max-width: 430px) {
  .budget-table-page h1 {
    margin-left: 20px;
    margin-top: 60px;
    font-size: 30px;
  }
}
