.dashboard {
  margin-left: 351px; /* Match SideMenu width */
  padding: 20px;
  width: calc(100% - 350px); /* Take remaining space */
  height: 100vh;
  background: #f4f5f9;
  position: relative;
}

h1 {
  color: #2a5ed4;
  font-weight: 300;
  font-size: 40px;
  margin-left: 45px;
}

.filter-section label {
  color: #2a5ed4;
  font-size: 18px;
  margin-left: 50px;
}

.chart-container {
  width: 95%;
  align-items: center;
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-top: 50px;
}

.filter-section label {
  font-weight: bold;
  color: #2a5ed4;
}

.filter-section select {
  cursor: pointer;
  border-radius: 12px;
  background: #fefefe;
  border: 1px solid #c8c8c8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px 10px 10px 5px;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.filter-section select:hover {
  border-color: #2a5ed4;
  box-shadow: 2px 2px 8px rgba(42, 94, 212, 0.3);
}

.filter-section select:focus {
  border-color: #2a5ed4;
  box-shadow: 2px 2px 8px rgba(42, 94, 212, 0.5);
}

.chart-container {
  margin: 0 auto;
  background: #fff;
  border-radius: 24px;
  padding: 20px;
  padding-top: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.SubAccountLabel {
  margin-top: 50px;
}

.customHr {
  border: none;
  border-top: 1px solid #c8c8c8; /* Blue line */
  margin: 20px 0;
}

/* Sticky Button for Modal */
.open-modal-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

/* Ensure the SVG icon takes the button's color */
.open-modal-btn svg {
  fill: #2a5ed4; /* Default color */
  width: 24px; /* Adjust as needed */
  height: 24px;
  transition: fill 0.3s ease-in-out;
}

.open-modal-btn:hover {
  background-color: #1a3ea3;
  box-shadow: 2px 2px 10px rgba(42, 94, 212, 0.5);
}

/* Change the SVG color on hover */
.open-modal-btn:hover svg {
  fill: white;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Adjust tooltip to be at the bottom right */
.tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: #1a3ea3;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  bottom: -45px; /* Moves tooltip below button */
  right: 0; /* Aligns tooltip to the right */
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 1s; /* 1-second delay */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap; /* Prevents text from wrapping */
}

/* Show tooltip with delay */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
