/* Four Containers Layout */
.four-containers {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  gap: 20px;
  width: calc(100% - 390px); /* Full width minus margins */
  margin-left: 350px; /* Top, Right, Bottom, Left */
  padding: 20px;
}

/* Individual Container Styling */
.total-revenue-container,
.total-expense-container,
.total-budget-container,
.total-actual-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.four-containers h3 {
  font-size: 14px;
  font-weight: 500;
  color: #2a5ed4;
  margin-bottom: 10px;
}

.four-containers h2 {
  font-size: 22px;
  color: #2a5ed4;
  font-weight: bold;
}

/* Responsive Styles */

@media screen and (max-width: 1600px) {
  .four-containers {
    grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
    margin-left: 350px;
    width: calc(100% - 390px);
  }
}

@media screen and (max-width: 1024px) {
  .four-containers {
    grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
    margin-left: 100px;
    margin-right: 20px;
    width: calc(100% - 140px);
  }
}

@media screen and (max-width: 768px) {
  .four-containers {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Single column for smaller screens */
    margin-left: 100px;
  }
}

@media screen and (max-width: 430px) {
  .four-containers {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Single column for smaller screens */
    width: calc(100% - 40px);
    margin-left: 2px;
  }
}
