@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Inter, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  color: #3c3c3c;
}

body {
  font-family: Inter, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f5f9;
}

.main-container {
  display: flex;
}

.SideMenu {
  width: 250px; /* Adjust width of sidebar */
}

.dashboard {
  flex-grow: 1;
}
